

<div *ngFor="let car of cars"> class="car-header">
    Araba Detayları

  
    
         <!-- <img
         src="https://localhost:44391/carimages/{{car.imagePath}}" alt="asdasd">  -->
     

  <ul class="list-group">
   
    <li class="list-group-item">Markası : {{car.brandName}} </li>
    <li class="list-group-item">Rengi : {{car.colorName}} </li>
    
    <li class="list-group-item">Günlük Ücreti : {{car.dailyPrice}} TL</li>
    
  </ul> 
  
</div>   
  <!-- <table class="table"  class= "table table-bordered">
    <thead class="text-dark" style="background-color: #818181f6;">
      <tr>
        <th>CarName</th>
        <th>BrandName</th>
        <th>ColorName</th>
        <th>DailyPrice</th>
      </tr>
    </thead>
    <img
    src=""  class="card-img-top" alt="Card image cap "
   />
    <tr  *ngFor="let car of cars">
       
      <td>
        {{ car.carName }}
      </td>
      <td>
        {{ car.brandName }}
      </td>
      <td>
        {{ car.colorName }}
      </td>
      <td>
        {{ car.dailyPrice }}
      </td>
    </tr>
  </table> --> 
