
<!-- <div  class="spinner-border text-light" role="status" style="background-color: #69b63cf6;">
  <span class="visually-hidden"></span>
</div> -->

 
 <div class="row">
  <div class="col-md-5">
    <label class="mr-sm-2" for="inlineFormCustomSelect"> Brands </label>
    <select class="custom-select custom-select-md mb-3" [(ngModel)]="brandId" aria-placeholder="All Brands">
      <option selected>All Brands</option>
      <option
      [selected]="getSelectedBrandId(brand.brandId)"
      *ngFor="let brand of brands"
      [value]="brand.brandId"
     
      >
        {{ brand.brandName }}
      </option>
    </select>
  </div>
  <div class="col-md-5">
    <label class="mr-sm-2" for="inlineFormCustomSelect"> Colors </label>
    <select class="custom-select custom-select-md mb-3" [(ngModel)]="colorId" aria-placeholder="All Colors">
      <option
      [selected]="getSelectedColorId(color.colorId)" 
        *ngFor="let color of colors"
        [value]="color.colorId"
        
      >
        {{ color.colorName }}
      </option>
    </select>
  </div>
  <div class="col-md-2" style="margin-top: 30px; width: 100px">
    
    <button
      class="btn btn-success"
      routerLink="/cars/filter/{{brandId}}/{{colorId}}"
    >
      Filter
    </button>
    <button class="btn btn-danger"
    routerLink="/cars"
    >
    Clear

    </button>
  </div>
 
   
<div class="mb-3">
  <label for="filterText" class="form-label">Search Car</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="enter a car...">
</div>

  <div *ngIf="filterText" class="alert alert-success">
                {{filterText}} aradınız.
 </div>
<table class="table" class= "table table-bordered">
  <thead class="text-dark" style="background-color: #818181f6;">
    <tr>
      <th>Car</th>
      <th>BrandName</th>
      <th>ColorName</th>
      <th>CarName</th>
      <th>ModelYear</th>
      <th>DailyPrice</th>
      <th></th>
      
      
    </tr>
  </thead>
  <tr *ngFor="let car of cardetails |filterCar:filterText">
    <td>{{ car.carId }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.carName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice | currency }}</td>
    <!-- <td>{{ car.isAvailable }}</td> -->
    <td>
      <button
        routerLink="/cardetails/{{ car.carId }}"
        type="button"
        class="btn btn-xs btn-primary"
        (click)="getCarDetailByCarId(car.carId)"
      >
        Wiev Detail
      </button>
    </td>
    
    
  </tr>
</table>
